<div class="search-container">
  <img class="logo" src="assets/logo.png">
  <div class="search">
    <input (keyup)="showFilters = true"
           (keyup.esc)="showFilters = false"
           (keyup.enter)="onSubmit()"
           [(ngModel)]="searchInput">
    <button mat-button (click)="onSubmit()">
      <mat-icon>search</mat-icon>
    </button>
  </div>


  <div class="filters" *ngIf="showFilters">
    <h1>Filters</h1>
    <div class="filter-categories">
      <mat-checkbox [(checked)]="noCategoriesSelected" (click)="clearCategories($event)">All</mat-checkbox>
      <mat-checkbox *ngFor="let category of categories"
                    [(ngModel)]="category.selected"
                    [value]="category.id">{{category.label}}
      </mat-checkbox>
    </div>
    <div class="filter-sliders">
      <!--Experiment gone wrong? :D-->
      <app-range-slider [range]="[1, 3, 7, 30, undefined]"
                        [maxValueLabel]="'forever'"
                        (changed)="maxAgeDays = $event"
                        [affix]="'days'" label="Listed in the last"></app-range-slider>

      <app-range-slider [range]="[1, 2, 3, 4, 5, 10, 15, 20, 30, 60, 100, 200, 300, 400, 500, undefined]"
                        (changed)="radius = $event"
                        [maxValueLabel]="'everywhere'"
                        [affix]="'km'" label="Radius"></app-range-slider>
    </div>
  </div>
</div>

<div class="result" *ngIf="formData">
  <h1>Result</h1>
  <pre>{{formData | json}}</pre>
</div>


