.search-container, .result {
  margin: 5rem auto 0;
  width: 80vw;
  max-width: 1000px;
}

.bordered {
  border: 1px solid black;
}

.search-container {
  display: flex;
  flex-direction: column;

  input {
    font-size: 1.5rem;
    width: 100%;
    border: none;
  }

  .search {
    @extend .bordered;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 4rem;

    input {
      padding: 1rem;
    }
  }

}

.filters {
  @extend .bordered;
  border-top: none;
  padding: 1rem;
}

.filter-categories, .filter-sliders {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-categories {
  margin-bottom: 2rem;
}

.filter-categories > * {
  flex-basis: 33%;
  margin-top: 0.5rem;
}

.filter-sliders > * {
  flex-basis: 40%;
}

.logo {
  width: 200px;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

// some simple responsiveness ...
@media (max-width: 1500px) {
  .logo {
    position: initial;
    padding-bottom: 1rem;
  }

  .search-container {
    margin-top: 0;
  }
}

@media (max-width: 780px) {
  .filter-categories > * {
    flex-basis: 50%;
  }
}

@media (max-width: 500px) {
  .filter-categories > *, .filter-sliders > * {
    flex-basis: 100%;
  }
}
