<div>
  <div class="labels">
    <div>{{label}}</div>
    <div>{{displayText}}</div>
  </div>
  <mat-slider #slider (input)="sliderMoved(slider.value)"
              min="0" [max]="max" [value]="sliderValue"></mat-slider>
</div>

